/*https://images.unsplash.com/photo-1468817739446-479f000a4c0f?auto=format&fit=crop&w=770&q=80%20770w*/

* {
  box-sizing: border-box;
  margin: 0;
}

html{
    height: 100%;
}
.navbar-default .navbar-brand {
    color: black;
}

/*body{
    background:url(https://images.unsplash.com/photo-1468817739446-479f000a4c0f?auto=format&fit=crop&w=770&q=80%20770w);
    background-size: cover;
    background-position: center;
    font-family: Catamaran;
}*/
.center{
    text-align: center;
    padding-top: 15%;
    
}
h1{
    font-size: 50px;
}

p{
    color: white;
    font-size: 21px;  
}

#login{
    min-width: 250px;
    background-color: rgba(255,255,255, 0.7);
    text-align: center;
    padding: 14px 14px 0;
    overflow: hidden;
}
#login .logInButtons{
    margin: 12px 0;
}
.btn-success{
   color:#fff;
    background-color: #3b599d;
}
.btn-success:hover{
   color:#fff;
    background-color: #3b599d;
}
/*#forgotPassWord{
  text-align: center;
}*/

@media screen and (max-width: 980px;){
  .container{
    width: 100px ;
  }
  .main-section{
    width: 67.70%;
  }
  .sidebar{
    width: 32.30%;
  }
  .auth-image{
    width: 100%;
  }

}
@media screen and (max-width: 768px;){
  .main-section{
    width: 67.70%;
  }
  .sidebar{
    width: 32.30%;
  }
}
@media screen and (max-width: 640px;){
.container{
    width: 640px ;
}
.work{
  width: 640px;
  }
}
@media screen and (max-width: 980px;){
.main-container1{
  width: 100%;
}
.main-section{
  width: 100%;
}
}
@media screen and (max-width: 640px;){
.main-container1{
    width: 640px ;

    }
}
@media screen and (max-width: 640px;){
img.picture{
    max-width: 300px;
}
}


