* {
  box-sizing: border-box;
  margin: 0;
}
html{
    height: 100%;
}
.navbar-default .navbar-brand {
    color: black;
}
.title1{
  margin:auto;
    
}

.btn-success{
margin-left:20px;


}

.appNameDiv{
text-align:center;
align-content: center;
margin:auto;
width:75%;
}

.appName{
    font-size: 70px;
    /*color: #181c21;*/
    
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.theme{
/*    color: #181c21;*/
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 4px #000000;  
}



#login{
    min-width: 250px;
    background-color: rgba(255,255,255, 0.7);
    text-align: center;
    padding: 14px 14px 0;
    overflow: hidden;
}
#login .logInButtons{
    margin: 12px 0;
}
.btn-success{
   color:#fff;
    background-color: #3b599d;
}
.btn-success:hover{
   color:#fff;
    background-color: #3b599d;
}
/*#forgotPassWord{
  text-align: center;
}*/

@media screen and (max-width: 980px;){
  .container{
    width: 100px ;
  }
  .main-section{
    width: 67.70%;
  }
  .sidebar{
    width: 32.30%;
  }
  .auth-image{
    width: 100%;
  }

}
@media screen and (max-width: 768px;){
  .main-section{
    width: 67.70%;
  }
  .sidebar{
    width: 32.30%;
  }
}
@media screen and (max-width: 640px;){
.container{
    width: 640px ;
}
.work{
  width: 640px;
  }
}
@media screen and (max-width: 980px;){
.main-container1{
  width: 100%;
}
.main-section{
  width: 100%;
}
}
@media screen and (max-width: 640px;){
.main-container1{
    width: 640px ;

    }
}
@media screen and (max-width: 640px;){
img.picture{
    max-width: 300px;
}
}


