
html{
    height: 100%;
}
.navbar-default .navbar-brand {
    color: black;
}

body{
     background-size: cover;
    background-position: center;
    font-family: Catamaran;
}
.center{
    text-align: center;
    padding-top: 15%;
    
}
.signUp{
    font-size: 50px;
}

.noAccount{
    color: white;
    font-size: 21px;  
}

.color3{
 width:60%;
    margin:auto;
    display:block;
    border-radius: 10px;
    padding-right:100px;
    padding-left:100px;
    padding-top:20px;
    padding-bottom:20px;
    background-color: rgba(51, 135, 150,0.6);
   /*margin-top:10px;*/
}
.signIn{
    color:rgb(237, 237, 73);
    font-size:45px;
   /* text-align:center;*/
   margin-top:0px;
   padding-top:0px;
   margin-right:0px;
   margin-left:0px;
   
}



#login{
    min-width: 250px;
    background-color: rgba(255,255,255, 0.7);
    text-align: center;
    padding: 14px 14px 0;
    overflow: hidden;
}
#login .logInButtons{
    margin: 12px 0;
}
.btn-success{
   color:#fff;
    background-color: #3b599d;
}
.btn-success:hover{
   color:#fff;
    background-color: #3b599d;
}
input{
    width: 400px;
    padding: 12px;
    border-style: outset;
    border-radius: 5px;
}
.btn btn-info{
    border-style: outset;
    border-radius: 5px;
}


/*@media (max-width:768px){
    h1{
        background-color: #55acee;
    }
    h2{
        background-color: #449d44;
    }
}
@media (max-width:768px){
    h1{
        background-color: skyblue;
        opacity: 0.8;
    }
  
}*/

