.color{
width:60%;
margin:auto;
display:block;
border-radius: 10px;
padding-right:100px;
padding-left:100px;
padding-top:20px;
padding-bottom:20px;

background-color: rgba(51, 135, 150,0.6);
margin-top:10px;
}

.forget{
color:rgb(237, 237, 73);
font-size:45px;
text-align:center;

}


.color2{
width:60%;
margin:auto;
display:block;
border-radius: 10px;
padding-right:100px;
padding-left:100px;
padding-top:20px;
padding-bottom:20px;

background-color: rgba(51, 135, 150,0.6);
margin-top:10px;
}

.instruct{
text-align:center;
font-size:25px;
color:#181c21;
font-style: 
}