.Wrapper1{
   background-image: url("./girl_tech.jpg");
    background-size: cover;
    background-position: center;
    font-family: Catamaran;
    -webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	opacity:.7;
	padding:175px;

	min-height:100%;
	min-width:1024px;


	width:100%;
	height:auto;

	  /*position:fixed;*/
	top:0;
	left:0;

	padding-bottom:300px;
	padding-top:100px



}
