.outer2{
background-color:white;
padding:5px;
border-radius:5px;
margin-bottom: 50px;
width:75%;
margin-top:50px;
margin-left:15%;



}

.aboutMe2{



}

.job2{

font-weight: bold;

}

.aboutBio{
font-weight: bold;


}

.imgProfile2{
float:left;
width:100px;
height:150px;
padding-right:10px;
padding-bottom:5px;

}


.emp{
font-weight: bold;


}

.Name3{

font-weight: bold;
margin-top:0;

}

.tech3{
font-weight: bold;


}