




.nameBrand{
 text-shadow: 2px 2px 4px #000000;
margin-top:40px;
padding:0;
margin-left:0px;
padding:5px;


}

.accountDiv{

background-image: url("../Wrapper2/computer2.jpg");
border-radius:10px;


}

.imgProfile2{
border-radius:10px;
width:400px;

padding-left:10px;
border-radius:10px;


}

.job2{

font-size:30px;
margin-left:10px;


}

.aboutMe2{

	color:white;
	background-color:rgba(0, 0, 0, .7);
	padding:10px;
	margin-bottom:10px;
	border-radius:10px;

}
.aboutBio{
font-size:20px;
text-align:left;


}

.comment{

	text-align:left;
}