.wrapper{

background-image: url("../SignUp/city5.jpg");
min-height:100%;
min-width:1024px;

width:100%;
height:auto;

/*position:fixed;*/
bottom:0;
top:0;
left:0;
/*z-index:-1;*/

padding-bottom:300px;
padding-top:100px;

-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;

}