
.thisAccount{
color:white;
text-shadow: 2px 2px 4px #000000;
text-align: center;

}


.makePretty{

background-image: url();

}

.outer{

width:90%;
/*height:300px;*/
background-color:white;
margin-bottom:5px;
border-radius:5px;
padding:10px;
margin-left:0;
}

.aboutMe{



}

.profileImage{
width:100px;
border-radius: 5px;


}

.nameProfile{
font-weight:bold;
font-family:Catamaran;

}

.jobTitle{



}

.employer{

margin-top:-5px;

}

.skills{
margin-top:-5px;


}


